/* SIDEBAR */

.sidebar {

  width: 260px;

  background: #111827;

  position: fixed;

  top: 0;
  left: 0;

  bottom: 0;

  z-index: 1000;

  padding: 24px 18px;

  overflow-y: auto;

  transition: transform 0.3s ease;

  border-right: 1px solid rgba(255,255,255,0.08);
}

/* LOGO */

.logo {

  font-size: 42px;

  font-weight: 800;

  color: #60a5fa;

  margin-bottom: 50px;
}

/* NAVIGATION */

.nav {

  display: flex;

  flex-direction: column;

  gap: 14px;
}

/* LINKS */

.nav-item {

  text-decoration: none;

  color: #d1d5db;

  font-size: 18px;

  font-weight: 600;

  padding: 16px 18px;

  border-radius: 16px;

  transition: 0.25s ease;
}

/* HOVER */

.nav-item:hover {

  background: rgba(255,255,255,0.06);

  color: white;

  transform: translateX(4px);
}

/* ACTIVE */

.nav-item.active {

  background: linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
  );

  color: white;

  box-shadow:
    0 10px 24px rgba(
      37,
      99,
      235,
      0.35
    );
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

  .sidebar {

    transform: translateX(-100%);
  }

  .sidebar.show-sidebar {

    transform: translateX(0);
  }
}