.toast {

  position: fixed;

  top: 30px;
  right: 30px;

  padding: 16px 24px;

  border-radius: 16px;

  color: white;

  font-weight: bold;

  transform:
    translateX(150%);

  transition: 0.4s ease;

  z-index: 9999;
}

.toast.show {

  transform:
    translateX(0);
}

.toast.success {

  background: #10b981;
}

.toast.error {

  background: #ef4444;
}